<footer class="footer pt-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy; {{ year }}
          <a href="https://www.evneddevelopment.com" target="_blank">
            Evned Development</a
          >
          <span> All rights reserved </span>
          <a
            href="https://www.instagram.com/evned_development/"
            target="_blank"
          >
            <i
              class="fab fa-instagram mx-2"
              title="Follow us on instagram"
              style="color: #fb2056"
            ></i
          ></a>
          <a
            href="https://paypal.me/CedricGoubil?locale.x=en_US"
            target="_blank"
            title="Enjoy the app? show support"
          >
            <i class="fab fa-paypal me-2"></i>
          </a>
          <small class="text-muted" style="font-size: xx-small"
            >v1-29.08.2022</small
          >
        </p>
      </div>
    </div>
  </div>
</footer>
