<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>QR [codegen] <small class="me-1">by evneddevelopment</small></span>
    <mat-icon>qr_code_2</mat-icon>
    <!-- <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
</p>
